@import url("https://fonts.googleapis.com/css2?family=BioRhyme:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fascinate&display=swap");

:root {
  --primary-color: #778899;
  --error-color: #f85032;
  --text-color: #000000;
  /* --text-color: #0d0d0d; */
  --transition: all ease-in-out 0.3s;
}
body {
  margin: 0;
  font-family: "BioRhyme", cursive, Inline-apple-system, BlinkMacSystemFont,
    "Fascinate", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: linear-gradient(
    90deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  ) !important; */
  background: linear-gradient(90deg, #74ebd5 0%, #9face6 100%) !important;
  color: black !important;
  font-weight: bold !important;
}
html,
body,
#root {
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
.auth {
  display: flex;
  align-items: center;
  height: 100%;
}
.card {
  /* background: #fff; */
  /* background: linear-gradient(90deg, #74ebd5 0%, #9face6 100%) !important; */
  background: linear-gradient(
    90deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  ) !important;
  /* box-shadow: black 2px 2px 2px 2px !important; */
  box-shadow: black 5px 5px 5px 5px !important;
  padding: 3rem;
  text-align: center;
  /* box-shadow: 2px 8px 12px rgba(0, 0, 0, 0.1); */
  max-width: 450px;
  width: 90%;
  margin: 0 auto;
}
.inputWrapper {
  margin: 1rem auto;
  width: 100%;
}
input:not([type="checkbox"]),
button {
  border-radius: 0.5rem;
  width: 100%;
}
input:not([type="checkbox"]),
textarea {
  border: 2px solid rgba(0, 0, 0, 0.1);
  padding: 1em;
  color: black !important;
  font-weight: bold !important;
  /* color: var(--text-color); */
  transition: var(--transition);
}
input:not([type="checkbox"]):focus,
textarea:focus {
  outline: none;
  border-color: black;
  /* border-color: var(--primary-color); */
}
button {
  appearance: none;
  border: 1px solid var(--primary-color);
  /* color: #fff; */
  color: black !important;
  /* background: linear-gradient(
    90deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  ) !important; */
  background: linear-gradient(90deg, #74ebd5 0%, #9face6 100%) !important;
  /* background-color: var(--primary-color); */
  text-transform: uppercase;
  font-weight: bold !important;
  outline: none;
  cursor: pointer;
  padding: 1em;
  /* box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.1); */
  box-shadow: black 2px 2px 2px 2px !important;
  transition: var(--transition);
}
button.secondary {
  /* color: var(--primary-color); */
  color: black !important;
  font-weight: bold !important;
  /* background: linear-gradient(90deg, #74ebd5 0%, #9face6 100%) !important; */
  background: linear-gradient(
    90deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  ) !important;
  /* background-color: #fff; */
  border-color: black;
  /* border-color: #fff; */
}
button:hover,
button:focus {
  box-shadow: 1px 6px 8px rgba(0, 0, 0, 0.1);
  /* box-shadow: black 2px 2px 2px 2px !important; */
}
.error {
  margin: 0;
  margin-top: 0.2em;
  font-size: 0.8em;
  color: var(--error-color);
  animation: 0.3s ease-in-out forwards fadeIn;
}
.two-cols {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}
.two-cols .left {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  height: 100%;
  overflow-y: scroll;
}
.two-cols .right {
  overflow-y: auto;
}
.title {
  font-size: 1.3rem;
}
.subtitle {
  font-size: 0.9rem;
  opacity: 0.85;
}
.title,
.subtitle {
  margin: 0;
}
.diary-tile {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1em;
}
.editor {
  height: 100%;
  padding: 1em;
}
.editor input {
  width: 100%;
}
.editor textarea {
  width: 100%;
  height: calc(100vh - 160px);
}
.entries ul {
  list-style: none;
  padding: 0;
}
.entries li {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.5em;
  cursor: pointer;
}
.entries li:nth-child(even) {
  background: rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
  .two-cols .left {
    width: 25%;
  }
  .two-cols .right {
    width: 75%;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}

.bg1 {
  background: linear-gradient(90deg, #74ebd5 0%, #9face6 100%) !important;
  color: black !important;
  font-weight: bold !important;
  padding: 1em;
  /* font-family: 'BioRhyme', 'Fascinate', cursive, Inline; */
  font-weight: bold !important;
  text-decoration: none !important;
}

.bg {
  /* background: linear-gradient(90deg, #74ebd5 0%, #9face6 100%) !important; */
  background: linear-gradient(
    90deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  ) !important;
  color: black !important;
  font-weight: bold !important;
  padding: 1em;
  /* font-family: 'BioRhyme', 'Fascinate', cursive, Inline; */
  font-weight: bold !important;
  text-decoration: none !important;
}

.h1 {
  /* background: linear-gradient(90deg, #74ebd5 0%, #9face6 100%) !important; */
  font-family: "BioRhyme", "Fascinate", cursive, Inline;
  /* background: -webkit-linear-gradient(120deg, #74ebd5, #9face6); */
  /* background: linear-gradient(
    90deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  ) !important; */
  /* background-image: linear-gradient(180deg, #fff, #87f1ff); */
  padding: 0.3em !important;
  font-weight: bolder !important;
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  /* filter: drop-shadow(2px 2px #0085a3); */
  /* filter: drop-shadow(3px 3px black); */
  text-shadow: 1px 1px 2px #74ebd5, 0 0 1em blue, 0 0 0.2em blue;
  /* text-shadow: 1px 1px 2px #74ebd5, 0 0 1em pink, 0 0 0.2em pink; */
  color: black !important;
  font-size: 48px;
  text-align: center;
  margin-top: -12px;
}

.copyRight {
  text-align: center;
  /* padding-bottom: 6px !important; */
  color: black !important;
  /* opacity: ; */
  font-weight: bolder;
  font-family: "BioRhyme", cursive, serif !important;
  /* font-family: 'Mali', cursive !important; */
  /* font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif; */
  padding: 16px !important;
  font-size: x-large !important;
  box-shadow: black 5px 5px 5px 5px !important;
  /* background: radial-gradient(circle,
      rgba(238, 174, 202, 1) 17%,
      rgba(148, 187, 233, 1) 100%); */
  background: linear-gradient(90deg, #74ebd5 0%, #9face6 100%) !important;
  margin-top: 30px !important;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
